- title "Unlock Account"
h1 Resend unlock instructions
.container
  .row
    .col-sm
      = form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f|
        = devise_error_messages!
        .form-group
          = f.label :email
          br/
          = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"
        .actions
          = f.submit "Send Again", class: "btn btn-primary"
    .col-sm
      = render "devise/shared/links"
