<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Code of Conduct Enforcement Issue</h1>
    <p>
      A code of conduct issue has been filed in the <%= @project_name %> project and you
      have been identified as the respondent.
    </p>
    <p>
      To view the issue and respond, please sign in to Beacon and click on 'My Issues' in the navigation bar.
    </p>
    <p>
      Thank you in advance for your prompt response to this issue.
    </p>
  </body>
</html>
