<h1>Code of Conduct Enforcement Issue</h1>
<p>
  A code of conduct issue has been filed in the <%= @project_name %> project and you
  have been identified as the respondent.
</p>
<p>
  To view the issue and respond, please create an account on Beacon: <%= @url %>
</p>
<p>
  Thank you in advance for your prompt response to this issue.
</p>
