<h1>Beacon Directory</h1>

<% @projects.each_with_index do |project,i| %>

  <% float_class = i < @projects.size - 1 ? "float-left" : "float-none" %>
  <div class="card mb-3 mr-3 <%= float_class %>" style="width: 15rem; height: 15rem">
    <div class="card-body">
      <h2 class="card-title"><%= link_to project.name, directory_project_path(project.slug) %></h2>
      <div class="card-text">
        <p><%= project.description %></p>
      </div>
    </div>
  </div>

<% end %>
