<h2>Project Directory</h2>

<% @projects.each do |project| %>

  <div class="card" style="width: 50%;">
    <div class="card-body">
      <h5 class="card-title"><%= link_to project.name, directory_project_path(project.slug) %></h5>
      <div class="card-text">
        <p><%= project.description %></p>
      </div>
    </div>
  </div>

<% end %>
