- title "#{@project.name}: Edit Details"
h1= @project.name
= form_for @project do |f|
  .form-group.col-sm-6
    = f.label :name
    br/
    = f.text_field :name, disabled: true, class: "form-control"
  .form-group.col-sm-6
    = f.label 'Project URL'
    br/
    = f.text_field :url, autofocus: true, class: "form-control"
    i If you change your project's URL, you will have to re-verify your token.
  .form-group.col-sm-6
    = f.label "Code of Conduct URL"
    br/
    = f.text_field :coc_url, class: "form-control"
  .form-group.col-sm-6
    = f.label "Description"
    br/
    = f.text_area :description, class: "form-control"
  - if @organizations.any?
    .form-group.col-sm-6
      = f.label "Organization"
      br/
      = f.select :organization_id, @organizations.map{ |org| [org.name, org.id] }, include_blank: "None", class: "form-control"
  .actions
    = f.submit "Update Project", class: "btn btn-primary"
    = link_to "Cancel", @project, class: "btn btn-primary"
