<div class="card mb-3 mr-3" style="width: 30rem">
  <div class="card-body">
    <h2 class="card-title"><%= consequence.label %></h2>
    <div class="card-text">
      <h3>Impact</h3>
      <p><%= consequence.action %></p>
      <h3>Consequence</h3>
      <p><%= consequence.consequence %></p>
    </div>
  </div>
</div>
