<% title "#{@subject.name}: Community Impact and Consequences" %>

<h1><%= link_to @subject.name, @subject %>: Community Impact and Consequences Guide</h1>

<div class="mb-3" style="border-bottom: 1px solid #ddd">
  <p>The Community Impact and Consequences Guide lets you establish guidelines for how you will enforce your code of conduct, specifying different escalating levels of violations and their consequences. When your project is public, this guide will be displayed on your project's directory page. As part of moderation of issues, you will be able to assign a level to the issue.</p>

  <% if @organization %>
    <%= render partial: "organization", locals: {
        organization: @organization,
        guide: @guide,
        consequences: @consequences,
        severities: @severities
      }
    %>
  <% else %>
    <%= render partial: "project", locals: {
        project: @project,
        guide: @guide,
        consequences: @consequences,
        severities: @severities
      }
    %>
  <% end %>

</div>

<%= javascript_tag do %>
  function toggle_show_and_form_views(id) {
    $('#' + id + '-show').toggle();
    $('#' + id + '-form').toggle();
  }
<% end %>
