<% title "An Error Has Occurred" %>

<h1>An Error Has Occurred</h1>

<div class="card mr-5 mt-4">
  <div class="card-body">
    <h2 class="card-title">Resource Is Not Available</h2>
    <div class="card-text">
      <p>
        The page that you requested does not exist. If you think this is an error, please <%= link_to "contact us", new_contact_message_path %>.
      </p>
    </div>
  </div>
</div>
