<% title "An Error Has Occurred" %>

<h1>An Error Has Occurred</h1>

<div class="card mr-5 mt-4">
  <div class="card-body">
    <h2 class="card-title">Oops, Something Went Kaboom</h2>
    <div class="card-text">
      <p>
        An unrecoverable error has occurred. Beacon staff have been notified. You can try again, or go back to the previous page.
      </p>
    </div>
  </div>
</div>
