<% title "An Error Has Occurred" %>

<h1>An Error Has Occurred</h1>

<div class="card mr-5 mt-4">
  <div class="card-body">
    <h2 class="card-title">Resource Unavailable</h2>
    <div class="card-text">
      <p>
        The page that you requested does not exist or cannot be accessed at this time due to an error.
      </p>
      <p>
        If you think you have arrived at this page by mistake, please <%= link_to "contact us", new_contact_message_path %>.
      </p>
    </div>
  </div>
</div>
