<h2>Setting Up Beacon for a Conference or Event</h2>

<p>The use cases for serving the needs of conferences and events are still being
explored by the Beacon project team. It is anticipated that the workflow for
creating an Event will be similar to that of creating a Project, but we will be
customizing the user experience for these users.</p>

<p>Until the Event functionality is in place, if you are using the Beacon Beta
as an event organizer, follow the directions for setting up your event as detailed
in the 'OSS Maintainers' user guide.</p>
