<h2>Reporting a Code of Conduct Violation</h2>

<p>To report a code of conduct violation, you can open an issue on
a of the project or event. If you followed a link from a code of conduct, you
will be taken directly to that project's overview page. Alternatively, you can
browse or search the Directory to locate the project or event.</p>

<%= image_tag "project_details_page.png", alt: "The Project Details page", class: "guide-image" %>

<p>The overview page shows the name and description of the project or event,
along with a link to its home page and its code of conduct. On the right-hand
side of the page, you can find information about project governance, privacy
and security information, and (optionally) details about the project's
enforcement history.</p>

<p>At the bottom of the page is the Community Impact and Consequences Guide.
This document outlines various types of code of conduct violations and their
associated likely consequences.</p>

<p>To report a code of conduct violation, click "Open an Issue".</p>

<%= image_tag "new_issue_page.png", alt: "The New Issue page", class: "guide-image" %>

<p>Fill in the Issue Details with everything the project's moderators should
know about the potential code of conduct violation.</p>

<p><b>To protect your privacy, only project moderators will ever see the issue
details that you report here. The respondent named in the code of conduct issue
will never be able to see what you have written.</b></p>

<p>Next, you can paste in any URLs that are relevant to your issue. These may
be links to comments in a pull request, a tweet, or any other supporting evidence.</p>

<p>Finally, if you have screenshots that are relevant to the issue, you can
upload and attach them to the issue as well.</p>

<p>Once your issue is complete, click 'Open Issue'. Project moderators will receive
a notification that a new issue has been opened, and you will receive a confirmation
email.</p>

<h2>Managing Your Issues</h2>

<p>You can see a list of your open issues by clicking on 'My Issues' in the
navigation bar. To see details, click on the issue number.</p>

<%= image_tag "issue_details_page.png", alt: "The Issue Details page", class: "guide-image" %>

<p>The description shows the information that you provided about the incident. On
the right-hand side of the page, you can see the issue's status, supporting
links that you provided, and screen shots, if any. You can upload additional
images by using the 'Choose Files' button.</p>

<p>At the bottom of the page is a message box. You can use this to correspond
with the moderators of the project or event. When you send a message, the moderators
will receive an email notification.

<p><b>For your safety and security, the body of your message is never sent via
email: moderators will be notified that there is a new message that they can
read and respond to only after signing in to Beacon.</b></p>

<p>When the moderators respond to your message, you will receive an email notification.
You can return to this page and see a log of the ongoing conversation.</p>

<p>Moderation may take some time. You will be alerted via email if the moderators
need more information or have additional questions. You will also receive a
notification with a message from the moderators when an issue is resolved or
dismissed.</p>

<p>After an issue has been closed, you can fill out a brief survey to indicate
your satisfaction with the way the issue was handled. The results of this
survey will be visible to moderators. Additionally, if the moderators have
enabled transparency reporting, the results of all reporter surveys will be
displayed in the project's enforcement summary on its Directory page.</p>
