<h2>Responding to a Code of Conduct Issue</h2>

<p>If you received an email notification from Beacon for a code of conduct issue
that was opened in your name, you are called the "respondent".</p>

<p>It is important to understand that just because an issue was opened in response
to something that you did or said, the moderators of the project or event are
motivated to reach a reasonable resolution. It is in your best interest to
cooperate with them to resolve the matter in a way that is fair and satisfactory
to all of the involved parties.</p>

<p>To view the code of conduct issue, you will need to create an account in Beacon.
Then you can access the issue either through the link in the email you received
or by clicking on "My Issues" in the header.</p>

<%= image_tag "respondent_issue", alt: "The Issue Details page", class: "guide-image" %>

<p>On this page you can review the moderator's message to you, including the
summary of the incident. If you want to send a message to the moderators, you
can use the form at the bottom of the page. When you send a message, the moderators
will receive an email notification.</p>

<p><b>For your safety and security, the body of your message is never sent via
email: moderators will be notified that there is a new message that they can
read and respond to only after signing in to Beacon.</b></p>

<p>When the moderators respond to your message, you will receive an email notification.
You can return to this page and see a log of the ongoing conversation.</p>

<p>Moderation may take some time. You will be alerted via email if the moderators
need more information or have additional questions. You will also receive a
notification with a message from the moderators when an issue is resolved or
dismissed.</p>

<p>After an issue has been closed, you can fill out a brief survey to indicate
your satisfaction with the way the issue was handled. The results of this
survey will be visible to moderators. Additionally, if the moderators have
enabled transparency reporting, the results of all respondent surveys will be
displayed in the project's enforcement summary on its Directory page.</p>
