@font-face {
  font-family: 'FontAwesome';
  src: url(font-path('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.svg') format('svg'));
  src: url(font-path('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.ttf') format('truetype'));
  font-weight: normal;
  font-style: normal;
}

.uploads img {
  width: 15%;
  float: left;
  margin: 1em 1em 1em 0em;
}

.uploads :last-child {
  float: none;
}

.alert-success {
  background: $orange;
  color: $black;
}

.form-control:disabled, .form-control[readonly] {
  background-color: $gray-800;
  color: #ffffff;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  background-color: $red;
  margin-right: 0.5rem;
}

.nav-tabs .nav-link {
  background-color: $blue;
  margin-right: 0.5rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.1rem;
}

h5 {
  font-size: 1.1rem;
}

h6 {
  font-size: .75rem;
}

.btn {
  margin: .1rem;
}

.tooltip-inner {
  color: #000000 !important;
}

.bg-success .card-body {
  color: #000000 !important;
}

.tab-pane {
  padding: .5rem;
}

footer {
  padding: .5rem;
}

.table {
  font-size: .5rem;
}

form {
  width: 93%;
}

.hide-portrait-phone {
  display: none;
}

.navbar-light .navbar-nav .nav-link a {
  color: rgba(0, 0, 0, 0.5);
}

.dataTables_wrapper div.row {
  width: 100%;
}

div.dataTables_wrapper div.dataTables_length label {
  align-items: left;
  justify-content: left;
}

div.dataTables_wrapper div.dataTables_filter label {
  justify-content: none;
  float: right;
  text-align: right !important;
}

.paginate_button {
  margin-right: 1rem;
  padding-right: 1rem;
  border-right: 1px solid #eee;
}

@media (min-width: 576px) {
  .hide-portrait-phone {
    display: block;
  }
  .table {
    font-size: 1rem;
  }
}
