<% title "My Organizations" %>

<h1 class="float-left mr-3">My Organizations</h1>

<div class="actions ml-3 mb-3">
  <%= link_to "New Organization", new_organization_path, class: "btn btn-primary" %>
</div>

<div class="container">
  <div class="row">
    <% @organizations.each_with_index do |organization,i| %>
      <div class="col">
        <div class="card mb-3" style="width: 33%; min-height: 14rem">
          <div class="card-body">
            <h2 class="card-title">
              <%= link_to organization.name, organization %>
            </h2>
            <div class="card-text">
              <p><%= organization.description %></p>
              <p>
                <span class="badge badge-pill badge-warning"><%= pluralize(organization.projects.size, "Project") %></span>
              </p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
