<h1>New comment on <%= @project.name %> Issue #<%= @issue.issue_number %></h1>
<p>
  A new comment was made on this issue by a <%= @commenter_kind %>.
</p>
<p>
  You can <%= link_to "view the issue in Beacon", project_issue_url(@project, @issue) %> now.
</p>
<p>
  Thank you,
  The Friendly Beacon Mailer Robot
</p>
