common: &common
  adapter: postgresql
  encoding: unicode
  pool: 20
  username: stitchfix_owner
  password: stitchfix_owner
  min_messages: WARNING

development:
  database: gregory_development
  <<: *common

test:
  database: gregory_test
  <<: *common

